body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: black;
  height: 100%;
}

/* РњРѕРґР°Р»СЊРЅРѕРµ РѕРєРЅРѕ Р·Р°РЅРёРјР°РµС‚ РІСЃСЋ СЃС‚СЂР°РЅРёС†Сѓ */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Р·Р°С‚РµРјРЅС‘РЅРЅС‹Р№ С„РѕРЅ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Р‘РѕР»СЊС€Р°СЏ РєРЅРѕРїРєР° РІ РјРѕРґР°Р»СЊРЅРѕРј РѕРєРЅРµ */
.modal-button {
  font-size: 2em;
  padding: 20px 40px;
  background-color: #ffffff;
  color: #333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-button:hover {
  background-color: #ddd;
}

/* РћСЃРЅРѕРІРЅРѕР№ РєРѕРЅС‚РµРЅС‚ СЃР°Р№С‚Р°, СЃРєСЂС‹С‚С‹Р№ РїРѕ СѓРјРѕР»С‡Р°РЅРёСЋ */

.button {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: color 0.5s ease, background-color 0.5s ease;
}
.button:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
}

.title {
  padding: 10px;
  display: flex;
  justify-content: center; /* РїРѕ РіРѕСЂРёР·РѕРЅС‚Р°Р»Рё */
  align-items: center; /* РїРѕ РІРµСЂС‚РёРєР°Р»Рё */
  /* border: 1px solid rgb(255, 0, 0); */
  height: 50px;
  background: url();
}
.title3 {
  padding-left: 200px;
}

.link1 {
  padding-left: 200px;
}
hr {
  width: 40%;
  border: none;
  border-top: 1px solid #323232;
  margin: 0 auto;
}

.menu ul {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.menu a:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
}

.parallax {
  background: url(/poly/111.png);
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: justify;
}
.parallax2 {
  background: url(/poly/122.png);
  background-attachment: fixed;
  background-size: 99% 190%;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: justify;
}

.parallax .mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.parallax2 .mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.why {
  text-align: center;
}

.parallax-content {
  margin: auto;
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

td {
  padding-left: 50px;
}
h1 {
  text-align: center;
  z-index: 3;
}

.page-content {
  height: 500px;
}

.page-content table {
  margin: auto;
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content p {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meme {
  display: flex;
  justify-content: center; /* РїРѕ РіРѕСЂРёР·РѕРЅС‚Р°Р»Рё */
  align-items: center; /* РїРѕ РІРµСЂС‚РёРєР°Р»Рё */
  /* border: 1px solid rgb(255, 0, 0); */
  height: 80px;
}

.meme ul {
  list-style-type: none;

  display: flex;
}

.meme li {
  margin-right: 150px;
  margin-left: 150px;
}

.meme a {
  text-decoration: none;
  color: rgb(60, 60, 60);
  font-weight: bold;
}

.mom a {
  text-decoration: none;
  color: rgb(60, 60, 60);
  font-weight: bold;
}

.meme a:hover {
  color: hsl(0, 0%, 100%);
}
.mom a:hover {
  color: hsl(193, 54%, 5%);
}

.page-content2 {
  height: 600px;
}

.page-content2 table {
  margin: auto;
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-content2 p {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gain-center {
  transition: 1s;
  text-align: center;
  white-space: nowrap;
  margin-left: 25px;
}

.gain-center:hover {
  transform: scale(1.2);
}

/* РћСЃРЅРѕРІРЅРѕР№ РєРѕРЅС‚РµР№РЅРµСЂ */
.hero-section {
  display: flex;
  height: 170vh;
}

/* Р›РµРІР°СЏ С‡Р°СЃС‚СЊ */
.hero-left {
  flex: 0 0 40%; /* РџСЂРёРјРµСЂРЅРѕ 40% РѕС‚ С€РёСЂРёРЅС‹ СЌРєСЂР°РЅР° */
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center; /* РІС‹СЂР°РІРЅРёРІР°РµРј РїРѕ РІРµСЂС‚РёРєР°Р»Рё */
  padding: 40px; /* РІРЅСѓС‚СЂРµРЅРЅРёРµ РѕС‚СЃС‚СѓРїС‹ */
}

.hero-title {
  font-size: 1.8rem;
  font-weight: 600px;
  line-height: 1.2;
  margin-bottom: 20px;
  position: relative;
}

.hero-description {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.hero-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.hero-button:hover {
  background-color: #000000;
  color: #000;
}
.hero-right {
  position: relative;
  top: -38px; /* РџРѕРґРЅРёРјР°РµС‚ РєРѕРЅС‚РµР№РЅРµСЂ РЅР° 20px РІРІРµСЂС…. РР·РјРµРЅРёС‚Рµ Р·РЅР°С‡РµРЅРёРµ РїРѕ РЅРµРѕР±С…РѕРґРёРјРѕСЃС‚Рё */
}

.hero-middle {
  flex: 0 0 10%; /* РџСЂРёРјРµСЂРЅРѕ 10% РѕС‚ С€РёСЂРёРЅС‹ СЌРєСЂР°РЅР° */
  background: linear-gradient(
    to bottom,
    blue 0%,
    blue 33.33%,
    white 33.33%,
    white 66.66%,
    red 66.66%,
    red 100%
  );
  position: relative;
  top: -38px; /* РџРѕРґРЅРёРјР°РµС‚ РєРѕРЅС‚РµР№РЅРµСЂ РЅР° 20px РІРІРµСЂС…. РР·РјРµРЅРёС‚Рµ Р·РЅР°С‡РµРЅРёРµ РїРѕ РЅРµРѕР±С…РѕРґРёРјРѕСЃС‚Рё */
}

/* РџСЂР°РІР°СЏ С‡Р°СЃС‚СЊ СЃ РёР·РѕР±СЂР°Р¶РµРЅРёРµРј */
.hero-right {
  flex: 0 0 50%; /* РџСЂРёРјРµСЂРЅРѕ 50% РѕС‚ С€РёСЂРёРЅС‹ СЌРєСЂР°РЅР° */
  overflow: hidden; /* РЅР° СЃР»СѓС‡Р°Р№, РµСЃР»Рё РёР·РѕР±СЂР°Р¶РµРЅРёРµ Р±РѕР»СЊС€Рµ РєРѕРЅС‚РµР№РЅРµСЂР° */
  position: relative; /* РµСЃР»Рё Р·Р°С…РѕС‚РёС‚Рµ РґРѕРїРѕР»РЅРёС‚РµР»СЊРЅС‹Рµ СЌР»РµРјРµРЅС‚С‹ РІРЅСѓС‚СЂРё */
}

/* РЎС‚РёР»Рё РґР»СЏ РёР·РѕР±СЂР°Р¶РµРЅРёСЏ */
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Р·Р°РїРѕР»РЅРёС‚СЊ РєРѕРЅС‚РµР№РЅРµСЂ, СЃРѕС…СЂР°РЅСЏСЏ РїСЂРѕРїРѕСЂС†РёРё */
  filter: grayscale(
    100%
  ); /* С‡С‘СЂРЅРѕ-Р±РµР»С‹Р№ СЌС„С„РµРєС‚, РµСЃР»Рё РЅСѓР¶РЅРѕ */
}
.parallax2_1 {
  background: url(/poly/Милость.png);
  background-attachment: fixed;
  background-size: 99% 190%;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: justify;
}
.parallax2_1 .mask1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.parallax-content1 {
  margin: auto;
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.parallax-text1 {
  display: flex;
  justify-content: center; /* РїРѕ РіРѕСЂРёР·РѕРЅС‚Р°Р»Рё */
  align-items: center; /* РїРѕ РІРµСЂС‚РёРєР°Р»Рё */
  height: 100%; /* РёР»Рё СѓРєР°Р¶РёС‚Рµ С„РёРєСЃРёСЂРѕРІР°РЅРЅСѓСЋ РІС‹СЃРѕС‚Сѓ */
  text-align: center;
  font-size: 25px;
}

.gain-center {
  font-size: 37px;
}
.parallax-text {
  font-size: 25px;
}
.gradient-hover {
  font-size: 2em;
  text-decoration: none;
  font-weight: bold;
  color: transparent; /* РґРµР»Р°РµРј С‚РµРєСЃС‚ РїСЂРѕР·СЂР°С‡РЅС‹Рј, С‡С‚РѕР±С‹ РїРѕРєР°Р·С‹РІР°Р»СЃСЏ С„РѕРЅ */
  background-image: linear-gradient(48deg, #0d00ff, #919191, #ff0000);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  transition: background-position 0.5s ease;
}
.Ipad {
  font-size: 20px;
}

.gradient-hover:hover {
  background-position: 100%;
}

@media screen and (max-width: 1023px) {
  body::before {
    content: "Открой пожалуйста с компа только";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    color: black;
    font-size: 18px;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }

  body > * {
    display: none !important;
  }
}
