/* Сброс базовых отступов * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1e1e24;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(/Тесты/Фото/сидит.jpg) no-repeat center/cover;
  opacity: 0.8;

  font-family: "Pecita", sans-serif;
  font-size: 20px;
}

.moving-text {
  font-size: 3em;
  text-align: center;
  animation: float 3s infinite alternate ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
} */

Сброс базовых отступов * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1e1e24;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url(/Тесты/Фото/сидит.jpg) no-repeat center/cover;
  opacity: 0.8;

  font-family: "Marck Script", sans-serif;
  font-size: 20px;
}

.moving-text {
  font-size: 3em;
  text-align: center;
  animation: float 3s infinite alternate ease-in-out;
}

.neon {
  color: #4842fb;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #392abf;
  font-size: 3em;
  text-align: center;
  animation: float 3s infinite alternate ease-in-out;
}

.flux {
  color: #4842fb;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #392abf;
  font-size: 3em;
  text-align: center;
  animation: float 3s infinite alternate ease-in-out;
}

.flux {
  animation: flux 1s ease infinite;
  -moz-animation: flux 1s ease infinite;
  -webkit-animation: flux 7s ease infinite;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 7s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    transform: translateY(0);
    text-shadow: 0 0 1vw #166dfa, 0 0 3vw #0a1ed6, 0 0 10vw #b20c94,
      0 0 10vw #100d52, 0 0 0.4vw #6828fe, 0.5vw 0.5vw 0.1vw #141880;
    color: #6828fe;
  }
  60% {
    text-shadow: 0 0 0.5vw #0d0b80, 0 0 1.5vw #1c2576, 0 0 5vw #280f95,
      0 0 5vw #2d1181, 0 0 0.2vw #0b1f80, 0.5vw 0.5vw 0.1vw #1c190d;
    color: #261480;
    transform: translateY(-30px);
  }
}

@keyframes flux {
  0%,
  90% {
    transform: translateY(0);
    text-shadow: 0 0 1vw #fa16a3, 0 0 3vw #d60ab1, 0 0 10vw #b20c94,
      0 0 10vw #100d52, 0 0 0.4vw #db1ebf, 0.5vw 0.5vw 0.1vw #141880;
    color: #fe28ba;
  }
  50% {
    text-shadow: 0 0 0.5vw #0d0b80, 0 0 1.5vw #1c2576, 0 0 5vw #280f95,
      0 0 5vw #2d1181, 0 0 0.2vw #0b1f80, 0.5vw 0.5vw 0.1vw #1c190d;
    color: #261480;
    transform: translateY(-30px);
  }
}
