/* Сброс базовых отступов */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Центрирование содержимого страницы */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1e1e24;
  color: #fff;
  background: 
  /* Первый слой: полупрозрачный черный градиент */ linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.8)
    ),
    /* Второй слой: само изображение */ url(/Тесты/Фото/сидит.jpg) no-repeat
      center/cover;
  opacity: 0.8;

  font-family: "Pecita", sans-serif;
  font-size: 20px;
}

/* Стиль для движущейся надписи */
.moving-text {
  font-size: 3em;
  text-align: center;
  animation: float 3s infinite alternate ease-in-out;
}

/* Ключевые кадры анимации */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
